/* Importing a Google Font */

  @import url("https://use.typekit.net/ops7twc.css");

/* Changing the main font and background colour */

body {
	font-family: bilo, sans-serif;
font-weight: 500;
font-style: normal;
	background-color: #f3eeea;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #2dbbaa;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}
.craze{
font-family: chaloops, sans-serif;
font-weight: 700;
font-style: normal;
}